div#chat {
	margin:10px 10px 10px 10px;
	padding:0 0 0 0;
}

body {
	--orange: #e35205;	

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 10pt;
	color: white;
}

div.chatmessage {
	font-size: 100%;
	margin-bottom: 3px;
}
div.timestamp {	
	display: inline-block;
	width: 6em;
	vertical-align: top;
	color: #aaaaaa;
}
div.user {
	display: inline-block;
	width: 4em;
	vertical-align: top;
	color: #aaaaaa;
}
div.username {
	display: inline-block;
	width: 12em;
	vertical-align: top;
	color: var(--orange);
}
div.message {
	display: block;
	width: 100%;
	color: white;
}

@media screen and (min-width: 18em) and (max-width: 24em) {
	div.message {
		display: block;
		width: 100%;
	}
	div.username + div.message {
		display: block;
		width: 100%;
	}
}

@media screen and (min-width: 24em) {
	div.message {
		display: inline-block;
		width: calc(100% - 6em - 4em - 5px);
		vertical-align: top;
	}
	div.username + div.message {
		width: calc(100% - 6em - 12em - 20px);
	}
}


body, html {width:100vw; height:100vh; overflow:hidden; margin:0; }

