.helpify {
    margin-left: 5px;
    color: gray;
    -webkit-app-region: no-drag;
}

.helpify-tooltip {
    position: relative;
}

.helpify i.fa {
    cursor: help;
    z-index: 1;
}

#helpify-anchor-bottom {
    position: absolute;
    bottom: 0px;
}

#helpify-anchor-top {
    position: absolute;
    top: 0px;
}

.helpify-text {
    border: none;
    background: #f0f0f0;
    padding: 10px 10px;
    font-size: 90%;
    font-weight:  550;
    cursor: help;

    /*background-color: black;*/
    color: #fff;
    color: black;
    color: rgb(227,82,5);
    /*background-color: rgb(227,82,5);*/
    /*text-align: center;*/
    border-radius: 6px;
    /*padding: 5px 0;*/
    /*position: absolute;*/
    z-index: 1;
    bottom: 150%;
    left: 50%;
    /*margin-left: -60px;*/
}

.helpify-tooltip .helpify-text {
    border: none;
    background: #f0f0f0;
    padding: 10px 10px;
    font-size: 90%;
    font-weight:  550;
    cursor: help;

    /*background-color: black;*/
    color: rgb(227,82,5);
    color: #fff;
    color: black;
    /*background-color: rgb(227,82,5);*/
    /*text-align: center;*/
    border-radius: 6px;
    /*padding: 5px 0;*/
    position: absolute;
    left: 0;
    z-index: 1;
    bottom: 100%;
    /*left: 50%;*/
    /*margin-left: -60px;*/
}

.helpify-anchor .helpify-text {
    margin: 5px 5px;
    padding: 30px 15px;
}

/*.checkbox label {
  display: inline;
}*/

label[data-help] {
    display: inline;
}

div[data-help] label {
    display: inline;
}

