
/* @import url('https://www.fontify.me/wf/def24d770ef40e2384152a9e6c0d2f9f'); */
/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
/* @import url('https://fonts.googleapis.com/css?family=Kanit:700|Khula:800|Titillium+Web:700'); */
@import url('https://fonts.googleapis.com/css?family=Kanit:700');

body, button {
--blue: rgb(17,146,204);

/* font-family: font125164; */
/* font-family: 'Titillium Web', sans-serif; */
/* font-family: 'Khula', sans-serif; */
font-family: 'Kanit', sans-serif;

}


* {
    box-sizing: border-box;
}

body {
	border: none;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color: transparent;

}

/* Drag only by the big div (body may be taller then this div but will allow click-through) */
div#stat {
	    -webkit-app-region: drag;
}



div#units {
	border: none;
	display: inline-block;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 50px;
	height: 60px;
	top: 0;
	position: absolute;
}
div#units button {
    -webkit-app-region: no-drag;
	display: block;
	margin: 0 0 0 0;
	padding: 3px 3px;
	width: 65px;
	height: 50%;
	border: none;
	background-color: white;
	color: dimgrey;
}
div#units button:first-of-type {
	border-top-right-radius: 10px;
	/*border-top-left-radius: 5px;*/
}
div#units button:last-of-type {
	/*border-bottom-right-radius: 5px;*/
	border-bottom-left-radius: 10px;
}

div#units button.on {
	background-color: var(--blue);
	color: white;
}
div#units button.off {
	background-color: white;
	color: dimgrey;
}


.allow_interaction #controls, #controls.forced-display {
    display: block;
    position: absolute;
    top: 10px;
	left: 75px !important; 
	z-index: 9999;
	-webkit-app-region: no-drag;
	background: rgba(255,255,255,0.3);
	padding: 10px 10px;
}

#controls input, #control button {
	z-index: 99999;
}

#controls {
	text-align: center;
}

#controls input[type="checkbox"] {
}
#controls label {
	margin-left: 5px;
}

div#stat {
	text-align: center;
	display: inline-block;
	margin:0 0 0 0;
	padding:10px 10px 10px 10px;
	padding-bottom: 0;
	/*border: 1px solid blue;*/
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: white;
	/*height: 100%;*/
	width: calc(100% - 75px);
	position: absolute;
	top: 0;
	left: 75px;
	color: var(--blue);
	resize: both;
	z-index: 888;

	line-height: 40px;

}

div#stat div {
	display: inline-block;
	overflow-x: hidden; 
	overflow-y: hidden;
	/*border: 1px solid red;*/
	/*height: 60px;*/
}

div#stat div.item {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	display: inline-block;
	line-height: 50px;
	margin-bottom: -20px;
}

div#stat div.value {
	margin-right: 0px;
	/*font-stretch: condensed;*/
	/*font-weight: bold;*/
	text-align: right;
	display: inline-block;
	
	font-size: 60px;
	/*line-height: 66px;*/
   	margin-bottom: -0px;

	overflow-y: hidden;
}

div#stat div.unit {
	margin-right: 5px;
	/*font-stretch: ultra-condensed;*/
	font-weight: 800;
	text-align: right;
	display: inline-block;
	font-size: 14px;
   	line-height: 20px;
   	margin-bottom: 1px;
}

div.value.digit-8 {
	width: 4.8em;
}

div.value.digit-7 {
	width: 4.2em;
}

div.value.digit-6 {
	width: 3.6em;
}

div.value.digit-5 {
	width: 3em;
}

div.value.digit-4 {
	width: 2.4em;
}

div.value.digit-3 {
	width: 1.8em;
}

div.value.digit-2 {
	width: 1.2em;
}

div#stat div.unit {
	margin-right: 20px;
}

body {
	/* font-family: "Arial Black", Gadget, sans-serif; */
	font-size: 10pt;
	color: black;
}

div.chatmessage {
	font-size: 100%;
	margin-bottom: 3px;
}
div.timestamp {	
	display: inline-block;
	width: 6em;
	vertical-align: top;
	color: #aaaaaa;
}
div.user {
	display: inline-block;
	width: 4em;
	vertical-align: top;
	color: #aaaaaa;
}
div.username {
	display: inline-block;
	width: 12em;
	vertical-align: top;
	color: #e35205;
}
div.message {
	display: block;
	width: 100%;
	color: white;
}

@media screen and (min-width: 18em) and (max-width: 24em) {
	div.message {
		display: block;
		width: 100%;
	}
	div.username + div.message {
		display: block;
		width: 100%;
	}
}

@media screen and (min-width: 24em) {
	div.message {
		display: inline-block;
		width: calc(100% - 6em - 4em - 5px);
		vertical-align: top;
	}
	div.username + div.message {
		width: calc(100% - 6em - 12em - 20px);
	}
}


body, html {width:100vw; height:100vh; overflow:hidden; margin:0; }

